In [1]:
import os
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.feature_extraction import DictVectorizer

In [2]:
# %%sh 
# cd data
# wget https://nyc-tlc.s3.amazonaws.com/trip+data/fhv_tripdata_2021-01.parquet
# wget https://nyc-tlc.s3.amazonaws.com/trip+data/fhv_tripdata_2021-02.parquet

In [3]:
jan= pd.read_parquet('data/fhv_tripdata_2021-01.parquet')
jan.shape

(1154112, 7)

In [4]:
jan.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,NaN,NaN,None,B00009
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,NaN,NaN,None,B00009
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,NaN,NaN,None,B00013
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,NaN,72.0,None,B00037
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,NaN,61.0,None,B00037

In [5]:
jan.dtypes

dispatching_base_num              object
pickup_datetime           datetime64[ns]
dropOff_datetime          datetime64[ns]
PUlocationID                     float64
DOlocationID                     float64
SR_Flag                           object
Affiliated_base_number            object
dtype: object

In [6]:
jan['duration'] = jan['dropOff_datetime']-jan['pickup_datetime']
jan.duration = jan.duration.dt.total_seconds() / 60

In [8]:
jan.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number,duration
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,NaN,NaN,None,B00009,17.000000
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,NaN,NaN,None,B00009,17.000000
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,NaN,NaN,None,B00013,110.000000
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,NaN,72.0,None,B00037,8.283333
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,NaN,61.0,None,B00037,15.216667

In [9]:
jan.duration.mean()

19.1672240937939

In [10]:
# sns.displot(x='duration',data = jan, label= 'duration')

In [11]:
jan = jan[(jan['duration']>=1 )& (jan['duration'] <=60)]

In [13]:
jan[jan.PUlocationID.isna()].shape[0]/jan.shape[0]

In [14]:
jan.PUlocationID.fillna(-1, inplace=True)
jan.DOlocationID.fillna(-1, inplace=True)

In [ ]:
categorical= ['PUlocationID','DOlocationID']
numerical = ['duration']
jan[categorical] = jan[categorical].astype(str)

Turn the dataframe into a list of dictionaries
- Fit a dictionary vectorizer
- Get a feature matrix from it

In [15]:
train_dicts = jan[categorical + numerical].to_dict(orient='records')

dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)